@font-face {
    font-family: "inter";
    src: url(../public/fonts/Inter-Black.ttf);
}

h1 {
    font-family: "inter";
    color: #fef9e7;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #010101;
}
